.search-wrapper {
    font-size: 12px;
    padding: 0.275rem 0.55rem !important;
    height: calc(1.3em + 0.75rem + 2px) !important;
    line-height: 1em;
    color: #495057 !important;
    border: 1px solid #ced4da !important;
    transition: box-shadow 0.15s ease-in-out;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.searchWrapper:focus {
    border-color: #d8e2ef !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(176, 196, 222, 0.25) !important;
}

.searchBox {
    margin-top: 0px !important;
    width: 100%;
}

.optionListContainer {
    position: absolute !important;
    z-index: 100000 !important;
}

.optionContainer li.selected:hover {
    background-color: DarkGray !important;
    color: #fff !important;
}

.optionContainer .selected:active {
    background-color: DarkGray;
    color: unset;
}

.multiSelectContainer li:hover {
    background: DarkGray !important;
    color: #fff !important;
}

.multiSelectContainer li:hover:active {
    background: DarkGray !important;
    color: #fff !important;
}

.optionContainer .checkbox {
    /* display: none; */
    background: black !important;

}

.optionContainer .highlightOption {
    background: none;
    color: #333333;
}

.multiSelectContainer li {
    padding: 0.275rem 0.55rem !important;
    height: calc(1.3em + 0.75rem + 2px) !important;
    font-size: 12px;
}

span.icon_down_dir {

    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    
}

span.icon_down_dir:before {
    content: "";
}

.search-wrapper input::placeholder {
    color: #495057 !important;
    opacity: 1;
}

.search-wrapper input::-ms-input-placeholder {
    color: #495057 !important;
}

.multiselect-container .optionContainer li {
    display: block;
    height: fit-content !important;
}

.singleChip {
    font-size: 12px !important;
    padding: 0 !important;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    height: -webkit-fill-available;
}

.chip {
    border-radius: 0px !important;
    padding: 1px 2px !important;
}

.icon_down_dir {
    font-weight: bolder !important;
    right: 0px !important;
}

.optionListContainer {
    margin-top: 0px !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}



.multiSelectContainer:focus-within.is-invalid {
    box-shadow: 0px 0px 0px 0.25rem rgba(229, 159, 159, 0.498)
}