.buttons-assign-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-assign-button {
    width: 50px;
    height: 50px;
    margin: 0;
    display: block;
    font-size: 16px;
    cursor: pointer;
    background-color: #eee;
    border: none;
    outline: none;
}

.selected-assign-button:hover {
    background-color: #d8d8d8;
}

.selected-assign-button:disabled,
.selected-assign-button:hover:disabled {
    cursor: default;
    background-color: #f0f0f0;
}