.iva-porcentaje {
  margin-top: 1.8rem;
}
.iva-check {
  margin-top: 0.7rem;
}
/* .iva-check > div {
  display: flex;
  gap: 0.3rem;
}
 .iva-check > div > label {
  margin-bottom: 0.6rem !important;
} */
.check-box-black .form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e") !important;
}
.check-box-black .form-check-input:checked {
  background: black !important ;
  border-color: black !important ;
}

@media (max-width: 90em) {
  .iva-check {
    margin-top: -1rem;
  }
  .upper-row {
    padding-bottom: 1rem;
  }
}
