.check-box-black .form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e") !important;
}
.check-box-black .form-check-input:checked {
  background: black !important ;
  border-color: black !important ;
}

.table-preview tr td:first-child,
.table-preview tr th:first-child,
.table-preview tr td:nth-child(2),
.table-preview tr th:nth-child(2) {
  text-align: start;
  min-width: 280px;
  max-width: 300px;
}

.rounded-form-check .form-check-input:checked[type="radio"] {
  background-color: black !important;
  border-color: black !important;
}
.rounded-form-check input[type="radio"] {
  width: 14px;
  height: 14px;
}

.table-preview .input-table {
  width: 80%;
}