spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://localhost:9000/oauth2/jwks"

  cloud:
    loadbalancer:
      enabled: true

    gateway:
     server:
      webflux:
       routes:
        - id: msv-clientes
          uri: lb://msv-clientes
          predicates:
            - Path=/api/clientes/**
          filters:
            - StripPrefix=2

        - id: msv-productos
          uri: lb://msv-productos
          predicates:
            - Path=/api/productos/**
          filters:
            - StripPrefix=2

        - id: msv-pedidos
          uri: lb://msv-pedidos
          predicates:
            - Path=/api/pedidos/**
          filters:
            - StripPrefix=2

server:
  port: 8090

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
